@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height:85.6vh;
    background-image: linear-gradient(125deg,black,rgb(8, 56, 8));
    background-position: center;
    background-repeat: no-repeat;

}
.container{
    width: 90%;
    max-width: 700px;
    /* background: white; */
    /* border: 1px solid black; */
    padding: 20px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

}
.container h2{
    color: white;
    font-size: 55px;
}
.container h3{
    color: white;
    font-size: 35px;
}

.countdown-box{
    user-select: none;
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 30px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;

}
.title{
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.days-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;

}
#days{
    background: rgb(224, 224, 224);
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.hours-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;

}
#hours{
    background: rgb(224, 224, 224);
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.minutes-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;


}
#minutes{
    background: rgb(224, 224, 224);
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.seconds-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;

}
#seconds{
    background: rgb(224, 224, 224);
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s;
}
