@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#main{
    width: 100%;
    min-height: 100vh;
    background: #3498db;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 35px;
    padding-top: 55px;
    gap: 15px;

}
.note{
    height: 370px;
    width: 350px;
    background: white;
    margin:25px 15px;
    border-radius: 5px;
    overflow: hidden;
}
.note .tool-bar{
    background: black;
    color: white;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: 20px;
}
.note textarea{
    height: 100%;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 500;
}
#add-note{
    position: fixed;
    top: 15px;
    right: 25px;
    background: black;
    color: white;
    padding: 8px 25px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 16px;
}